#fav-slider {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

/* Titre du slider */
#fav-slider h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Image de fond */
#fav-slider .fav-image {
    background: url(${favData[currentIndex].pictureUrl}) no-repeat center center/cover;
    padding: 40px 20px;
    height: 150px;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}


#fav-slider .fav-image h3 {
    margin-bottom: 10px;
}

#fav-slider .fav-image p {
    font-size: 1.1em;
}

/* Boutons de navigation */
#fav-slider button {
    padding: 10px 20px;
    font-size: 1.1em;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 10px;
}

#fav-slider button:hover {
    background: #45a049;
    transform: scale(1.05);
}

#fav-slider button:disabled {
    background: #ccc;
    cursor: not-allowed;
}