@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

#fav-slider {
    background-color: #FADFE6;
    border-radius: 8px;
    box-shadow: 0 4px 8px #951b39;
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}


#fav-slider h2 {
    color: #FF5883;
    margin-bottom: 20px;
}


#fav-slider .fav-image {
    background: url(${favData[currentIndex].pictureUrl}) no-repeat center center/cover;
    padding: 40px 20px;
    height: 150px;
    color: #FADFE6;
    border-radius: 8px;
    margin-bottom: 20px;
}


#fav-slider .fav-image h3 {
    margin-bottom: 10px;
}

#fav-slider .fav-image p {
    font-size: 1.1em;
}

#fav-slider button {
    padding: 10px 20px;
    font-size: 1.1em;
    background: #FF5883;
    color: #FADFE6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 10px;
}

#fav-slider button:hover {
    background: #951b39;
    ;
    transform: scale(1.05);
}

#fav-slider button:disabled {
    background: #FF91AD;
    cursor: not-allowed;
}