#flower-card {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #951b39;
    border-radius: 10px;
    overflow: hidden;
}

#flower-picture {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

#flower-description {
    padding: 10px;
    color: #FF5883;
    ;
}

#flower-description h3 {
    font-size: 18px;
    margin: 0;
}

.flower-description-line {
    color: #FF91AD;
    font-size: 12px;
    margin: 5px 0;
}