@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

body {
    font-family: 'Erica One', sans-serif;
    background-color: #FF5883;
    color: #F5F5F5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 7rem;
    color: #FADFE6;
    background-color: #FF5883;
    margin-top: 20px;
    margin-bottom: 0px;
}

#flower-fav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

#gallery-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    color: #FF5883;
    background-color: #FADFE6;
    border: 1px solid #FF5883;
    border-radius: 5px;
    width: 250px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #951b39;
}

select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #FF5883;
    border-radius: 5px;
    color: #FF5883;
    background-color: #FADFE6;
    cursor: pointer;
}

select:focus {
    border-color: #951b39;
}

#flower-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 20px;
    margin-top: 20px;
}

#flower-gallery .flower-card-wrapper {
    background-color: #FADFE6;
    border-radius: 8px;
    box-shadow: 0 4px 6px #951b39;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

#flower-gallery .flower-card-wrapper:hover {
    transform: translateY(-5px);
}

#flower-gallery a {
    text-decoration: none !important;
    color: inherit !important;
}

#flower-gallery a:visited {
    color: inherit !important;
}

/* Responsivité :*/
@media (max-width: 1200px) {
    #flower-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    #flower-gallery {
        grid-template-columns: 1fr;
    }
}